# EditorConfig - 强制统一编码和格式
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 120

[*.py]
indent_size = 4

[*.md]
charset = utf-8
indent_size = 2
trim_trailing_whitespace = true

[*.{yml,yaml,json}]
charset = utf-8
indent_size = 2

[*.toml]
charset = utf-8
indent_size = 2

[Makefile]
indent_style = tab
